vendor/*
.rbenv-version
.bundle
.project
.rvmrc
log
tmp/**/*
*~
*swp
*swo
public/system
public/sitemaps
db/sphinx
db/extracted_data
.DS_Store
*.orig
.sass-cache/*
*csv
vendor/bundle/
.ruby-version
*.sublime-*
*.sql
public/uploads/
.ruby-gemset
dump.rdb
.idea/*
.byebug_history
config/database.yml
.env
*.sqlite
